<!DOCTYPE html>
<html lang="en">

<!--  HEADER WITH USER CSS -->
<head>
    <!--  METADATA-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    TITLE-->
    <title>Citywise Hashtags Sentiments</title>
    <!--    CHART.JS CSS -->
    <script src='static/js/Chart.min.js'></script>
    <!--    USER DEFINED CSS -->
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<!--    HEADER WITH NAVIGATION BAR-->
    <header>
        <div class="sidebar">
        <a href="/home">Home</a>
        <a href="/CitySentiments">City Sentiments</a>
        <a href="/HashtagSentiment">Hashtag Sentiment</a>
        <a href="/TopTweetingCities">Top Tweeting Cities</a>
        <a href="/OverallSentiments">Overall Sentiments</a>
            <a href="/TopHashtags">Top Hashtags</a>
            <a href="/MostSpokenWord">Most Spoken Word</a>
            <a class="active" href="/CitywiseHashtagsSentiments">Citywise Hashtags Sentiments</a>
            <a href="/CitywiseTopTweets">Citywise Top Tweets</a>
        </div>
    </header>

<!--BODY-->
<body>

    <div class="content">

<!---DROP DOWN --->
<form class="form-inline" method="POST" action="{{ url_for('CitywiseHashtagsSentiments') }}">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon"><a>Please select</a></span>

<select name="comp_select" methods="GET" action="/" onchange='this.form.submit()'>
  <option value="{{dropdown_val[0]}}" >{{dropdown_val[0]}}</option>
    <option value="value" selected>{{selected_value}}</option>

  {% for data in dropdown_val[1:] %}
    <option value="{{data}}">{{data}}</option>
  {% endfor %}

</select>
</div>
  </div>
</form>

<!--  HEADER TEXT-->
    <h1 id="movtxt_1">Citywise Hashtags {{selected_value}}</h1>

<!--    CHART CANVAS WITH DIVISION-->
    <div class="chart-container" style="float: left; width: 100%; overflow:hidden;">
    <canvas id="myChart" width="1400" height="600"></canvas>
    <p>Top Hashtags </p>
    </div>

    </div>
<!--  JAVA SCRIPTS -->
    <script>
      // Global parameters:
      // do not resize the chart canvas when its container does (keep at 600x400px)
      Chart.defaults.global.responsive = true;

      // define the chart data
      var chartData = {
        labels : [{% for item in labels %}
                   "{{item}}",
                  {% endfor %}],
        datasets : [{
            label: '{{ legend }}',
            fill: true,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data : [{% for item in values %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
        }],
      }

      // get chart canvas
      var ctx = document.getElementById("myChart").getContext("2d");

      // create the chart using the chart canvas
      var myChart = new Chart(ctx, {
        type: 'line',
        data: chartData,
      });
    </script>

</body>
</html>