<!DOCTYPE html>
<html>

<!--  HEADER WITH USER CSS -->
  <head>
      <!--  METADATA-->
      <meta charset="utf-8" >
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- TITLE-->
    <title>Manomay Dashboard Home</title>
      <!--    USER DEFINED CSS -->
    <link rel="stylesheet" href="/static/css/main.css">
  </head>

    <!-- HEADER  -->
    <header>
        <div class="sidebar">
        <a class="active" href="/home">Home</a>
        <a href="/CitySentiments">City Sentiments</a>
        <a href="/HashtagSentiment">Hashtag Sentiment</a>
        <a href="/TopTweetingCities">Top Tweeting Cities</a>
        <a href="/OverallSentiments">Overall Sentiments</a>
            <a href="/TopHashtags">Top Hashtags</a>
            <a href="/MostSpokenWord">Most Spoken Word</a>
            <a href="/CitywiseHashtagsSentiments">Citywise Hashtags Sentiments</a>
            <a href="/CitywiseTopHashtags">Citywise Top Hashtags</a>
            <a href="/CitywiseMostSpokenWord">Citywise Most Spoken Word</a>
        </div>
    </header>

<!--  BODY -->
<body>

<!--CONTENT-->
<div class="content" style="overflow:hidden;">

<!--ANIMATED HEADER -->
<div class="grid-container">
    <div id="movtxt" style="color:black;">
        <h1>Sentiment Analysis <img src="static/images/Black_Twitter.png" width="90" height="90"></h1>
    </div>
</div>

<!--PARAGRAPHS -->
<div class="grid-container">
    <p>Get the insights of sentiments across india with Top Tweeting Cities and Sentiment Analysis.</p>
</div>
<br>

<div class="grid-container">
    <p class="child_1">Dynamic data ingestion with analysis and visualization</p>
</div>
<br>

<div class="grid-container">
    <p class="child_2">Transfrom data to meaningful visualization<span>|</span></p>
</div>

    <!--IMAGE DIVISION -->
    <div class="grid-container">
        <div id="background-img" class="background-img">
        <img class="Visual_img" src="static/images/visualization_anim.gif">
        </div>
    </div>

<!--CONTENT CLOSE-->
</div>

</body>

</html>




